@{ 
    /* 
     Project page heading should be replaces with the name of the project in final release
     Page should show revision events as well as the download link to allow for review.
     Later iteration of this page will have hidden information on this page. Hidden information will
     include but not be limited to the download link, revisor and statistics as well as extended bug
     information.
     Ill parse from github at a later time.
    */
}
@model String

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
</head>
<h2>Project Name.</h2>

<div >
    <div class="row">
        <h4 class="col-md-3 col-md-offset-3">Imaga holder area:</h4>
    </div>
    <div class="row">
        <div class="pull-xs-left well col-md-6">
            <h3>Revision history:</h3>
            
        </div>
        <div class="pull-xs-right well col-md-6">
            <h3>Download links:</h3>
       
        </div>
    </div>
</div>